body{
  background: url("../img/imgHome.png") no-repeat fixed center ;
  background-size: cover;
  overflow: hidden;

  height: 100vh;
  place-content: center;
  place-items: center;
}

#containerHome{
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh
}

#homeH1{
  color: #E1E1E6;
  font-size: 3rem;
  text-align: center;
}

#btnDiv{
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 294px;
  transition: 1s;
}

/*#btnHome:hover{*/
/*  transition: background-color;*/
/*  background-color: #FFFFFF;*/
/*  color: black;*/
/*}*/

#btnHome{
  text-align: center;
  border-radius: 5px;
  border: 2px solid #E1E1E6;

  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;

  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px ;
  color: #FFFFFF;
  justify-items: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 1s;
}

#btnHome:hover{
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.9); /* Efeito de luzes  */
  /*box-shadow: white;*/
  color: white;
  background-color: rgba(0, 0, 200, 0.3);

  /*transition: box-shadow 0.1s ease-in-out;   !* Transição suave *!*/
  transition: color 1.0s;
}


@media (max-width: 900px) {
  #containerHome, div, h1, a{
    align-content: flex-start;
  }

  #homeH1{
    font-size: 2.5rem;
  }

}


/* EFEITOS DE FOGOS DE ARTIFICO */

/* Estilize o container para os fogos de artifício */
.fireworks-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Estilize os elementos dos fogos de artifício */
.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f00; /* Cor dos fogos de artifício (pode ser ajustada) */
  border-radius: 50%;
  animation: fireworks 2s ease-in-out infinite;
}

/* Defina a animação dos fogos de artifício */
@keyframes fireworks {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px) rotate(360deg);
    opacity: 0;
  }
}


.neon{
  color: white;

  background: rgba(0, 0, 200, 0.3);
  margin-bottom: 25px;
  font-size: 15px;
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;

  /*border: 2px solid rgba(0, 0, 200, 0.6);*/

  /*border-radius: 10px;*/
  padding: 3px 10px;
  display: inline-block;
  /*cursor: pointer;*/
  box-shadow: 0 0 40px rgba(0, 0, 255, 0.9);
  animation: pulse 1s infinite alternate;
}

.neon:hover{
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.9); /* Efeito de luzes  */
  /*box-shadow: white;*/
  color: rgba(0, 0, 255, 0.9);
  background-color: rgba(0, 0, 255, 0.9);

  transition: box-shadow 0.1s ease-in-out;   /* Transição suave */
  /*transition: color 1.0s;*/
}

@keyframes pulse {

  0% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 40px rgba(0, 0, 255, 0.9); /* Brilho aumentado */
  }

}






